.card {
  display: flex;
  background-color: rgba(255, 255, 255, 0.753);
  flex-direction: column;
  border: 3px solid black;
  border-radius: 4%;
  max-width: auto;
  margin: 3% 7.3%;
}
.card:hover {
  transform: translateY(-2px);
}
.img {
  border-top-left-radius: 4%;
  border-top-right-radius: 4%;
  max-height: 19vh;
  min-height: 17vh;
  min-width: 16.56vw;
  max-width: 16.56vw;
}

.textContainer {
  min-height: 8vh;
}

.name {
  color: rgb(27, 27, 27);
  font-size: 28px;
}

.temperaments {
  color: rgba(44, 187, 27, 1);
}
