
.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dogContainer{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(10px,auto);
    gap: 1em;
    /* background: none; */
    /* align-items: center;
    justify-content: center; */
}