.container{
    display: flex;
    justify-content: space-between;
    min-width: 100vw;
    height: 9vh;
    flex-direction: row;
    background: linear-gradient(90deg,
    rgba(44,187,27,1) 14%,
    rgba(0,255,124,1) 47%,
    rgba(234,255,244,1) 75%, 
    rgba(255,255,255,1) 97%);
}
.create{
    margin-left: 10%;
    margin-right: 8%;
    margin-bottom: 3%; 
}

.createTitle{
    color: rgb(240, 240, 240);
    text-decoration: none;
    font-size:2em;
}

.createTitle:hover{
    text-decoration:underline;
}

.filterContainer{
    padding-top: 1.5%;
}

.filter{
    font-size: calc(0.7em + 0.5vw);
    height: 47%;
    width:  100%;
    border: 2px solid ;
    border-radius: 8px;
}